/* Styling For Homepage */

:root {
  --background-color: #e9f8fb; 
}


/* Navbar & Section A*/
.con-navbar,
.section-a  {
  background: var(--background-color);
}


/* Section A */

.padbtm {
  padding-top: 120px;
  position: relative;
  margin-bottom: 100px;
}

.section-a p {
  max-width: 400px;
  width: 90%;
}


/* Media Queries */
@media (min-width: 500px) {
  .con-section .section-a {
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .con-section .section-a {
    margin-bottom: 80px;
  }
}

@media (min-width: 900px) {
  .con-section .section-a {
    margin-bottom: 120px;
  }
}