<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/starhub-logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/layout-style.css">
  <link rel="stylesheet" href="/stylesheets/media-queries.css">
  <title>Server Error</title>
</head>
<body>
  <div class="con-error">
    <div class="container flex flx-dir">
      <div class="img">
        <img src="images/error-500.jpg" alt="500 - Server Error">
      </div>
      <div class="header flex flx-dir">
        <h1>500</h1>
        <h2>Sorry, something somewhere just got wrong.</h2>
      </div>
    </div>
  </div>
</body>
</html>