:root {
  --background-color: rgb(237, 246, 237); 
}

/* Navigation */
.con-navbar {
  background: var(--background-color);
}

/* Section A */
.con-section-a {
  background: var(--background-color);
  padding-bottom: 120px;
}


/* Section B */
.con-section.second {
  margin: 80px 0;
}

.section-b.grid-03 {
  gap: 40px;
}

.section-b .card {
  text-align: center;
}

.section-b .card .header {
  margin: 20px 0;
}