/* Styling For Homepage */

:root {
  --background-color: rgb(232, 253, 253); 
}

/* Navigation */
.con-navbar {
  background: var(--background-color);
}

/* Section A */
.con-section-a {
  background: var(--background-color);
}

.con-img-background {
  background: linear-gradient(to right, var(--linear-01), var(--linear-02), var(--linear-03));
  position: relative;
  margin: 260px 0 240px 0;
  height: 360px;
}

 .con-img-background .img-background::before {
  content: '';
  left: 0;
  right: 0;
  top: -36px;
  position: absolute;
  z-index: 100;
  height: 200px;
  background: linear-gradient(to right, var(--linear-01), var(--linear-02), var(--linear-03));
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.con-img-background .img-background::after {
  content: '';
  left: 0;
  right: 0;
  bottom: -196px;
  position: absolute;
  z-index: 100;
  height: 240px;
  background: linear-gradient(to right, var(--linear-01), var(--linear-02), var(--linear-03));
  transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
}

.con-img-background .img-background img {
  position: relative;
  z-index: 110;
  top: -200px;
}

/* Countdowns */
.show-overlay {
  position: relative;
  height: 400px;
}

.show-overlay .overlay-content {
  position: absolute;
  top: 46px;
  width: 100%;
}

.show-overlay .overlay-content .header h1{
  width: 200px;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
}

.show-overlay .overlay-content .countdown {
  border: 2px dashed #888;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 40px auto;
  text-align: center;
}

.show-overlay .overlay-content .countdown h1 {
  font-size: 1.2rem;
}

.show-overlay .overlay-content .countdown b {
  color: var(--show-overlay-color);
  font-size: 1.2rem;
}

.show-overlay .con-right-side,
.show-overlay .con-left-side,
.show-overlay .con-bottom-side {
  position: absolute;
  width: 100%;
}

.show-overlay .con-right-side .right-side,
.show-overlay .con-left-side .left-side {
  box-shadow: -10px 14px 20px rgb(221, 221, 221);
  background: #fff;
  padding: 10px 16px;
}

.show-overlay .overlay-content h3, .show-overlay .overlay-content p {
  font-size: 0.8rem;
  font-weight: 600;
}

.show-overlay .right-side h3,
.show-overlay .left-side h3 {
  color: var(--show-overlay-color);
}

.show-overlay .con-right-side {
  top: 140px;
  left: 45px;
}

.show-overlay .con-right-side .right-side {
  text-align: right;
  border-radius: 1rem 0 1rem 1rem;
  width: 240px;
}

.con-show-overlay .con-left-side {
  top: 60px;
  right: 45px;
  width: 260px;
}

.show-overlay .con-left-side .left-side {
  border-radius: 1rem 1rem 1rem 0;
  width: 160px;
}

.show-overlay .con-bottom-side {
  top: 250px;
  left: 45px;
  width: 280px;
  text-align: right;
}

.show-overlay .con-bottom-side .top h2{
  color: var(--show-overlay-color);
  font-size: 1.2rem;
}

.show-overlay .con-bottom-side .bottom {
  width: 440px;
}

.show-overlay .con-bottom-side .bottom .content {
  width: 100px;
  margin: 0 auto;
}

.show-overlay .con-bottom-side .bottom-side .bottom .animate {
  border: 8px solid rgba(245, 217, 200, 0.781);
  background: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.show-overlay .con-bottom-side .bottom-side .bottom .animate i {
  color: var(--show-overlay-color);
}

.show-overlay .con-bottom-side .bottom-side .bottom .label h3 {
  font-size: .9rem;
} 