/* Master Styling */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: 'Raleway', sans-serif;
  transition: .25s;
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgb(232, 253, 253);
  --secondary-color: #1c3fa8;
  --show-overlay-color: rgb(255, 115, 0);
  --dark-btn-hover-color: rgb(41, 41, 41);
  --linear-01: #cffde1;
  --linear-02: #cc80f8;
  --linear-03: #fce6b5; 
}

body {
  line-height: 1.5;
}

/* Utilites */
.container {
  width: 86%;
  margin: 0 auto;
}

.sections-07 {
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-strt {
  align-items: flex-start;
}

.flx-spc-btw {
  justify-content: space-between;
}

.flx-dir {
  flex-direction: column;
}

.grid {
  display: grid;
  justify-content: center;
}

.grid-02 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-05 {
  grid-template-columns: repeat(5, 1fr);
}

img {
  height: 100%;
  width: 100%;
}

.btn {
  padding: 9px 20px;
  border: 2px solid rgb(144, 143, 143);
  border-radius: 0.25rem;
  width: 160px;
}

.btn:hover {
  background: #6613c5;
  color: #fff;
  border-color: #fff;
  transform: scale(0.99);
}

.margin-02 {
  margin: 20px 0;
}

/* Navigation */
.con-navbar {
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--primary-color);
  z-index: 1000;
}

.con-navbar.active {
  opacity: 0.9;
  background: #fff;
}

.con-navbar .navbar {
  padding: 20px 0;
}

.con-navbar .navbar .left-side,
.con-footer .footer-brand {
  width: 140px;
}

.con-navbar .navbar .left-side .nav-brand-name h2,
.con-footer .footer-brand-name h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

.con-navbar .navbar .left-side .nav-brand-logo,
.con-footer .footer-brand-logo {
  width: 30px;
}

.con-navbar .navbar .right-side ul li {
  padding: 14px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}

.con-navbar .navbar .right-side ul li:hover {
  background: #b52ef3;
  border-radius: 0.25rem;
  color: #fff;
}

/* Back To Top Button */
.con-top-btn {
  position: fixed;
  display: none;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  background: transparent; 
}

.top-btn {
  padding: 8px 14px;
  color: #fff;
  background: #b4b3b3;
  border-radius: 14px;
}

/*Slide Menu */
.con-menu {
  display: none;
}

.con-toggle {
  display: none;
}

@keyframes roll-in {
  0% {
      left: -400px;
  }

  100% {
      left: 0;
  }
}

/* Main Div*/
.main {
  margin-top: 80px;
}

/* Subscribe */
.con-subscribe {
  padding: 80px 0;
  background: #fff;
}

.con-subscribe form {
  width: 600px;
  margin: 14px 0;
}

.con-subscribe form .form-element:first-child {
  border-bottom: 2px solid #333;
  width: 100%;
  padding: 0 5px;
}

.con-subscribe form .form-element input {
  width: 100%;
  padding: 10px;
}

.con-subscribe form .form-element input:focus {
  padding-left: 26px;
  transition: .5s;
}

.con-subscribe form .form-element button {
  margin: 0 10px;
  cursor: pointer;
  padding: 12px 20px;
  font-size: 1rem;
  background: transparent;
}

.con-subscribe form .form-element button.btn:hover {
  background: var(--dark-btn-hover-color);
}

/* Footer */
.con-footer .footer-content .header {
  padding: 30px 0;
}

.con-footer .footer-content h1.header {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2rem;
}

.con-footer .footer-content ul li:hover,
.con-footer .footer-B ul li:hover {
  color: #000;
}

.con-footer .footer-content ul li,
.con-footer .footer-content .content p {
  margin: 18px 0;
}

.con-footer .footer-content:nth-child(2) {
  margin-left: 20px;
}

.con-footer .footer-content ul li,
.con-footer .footer-content .content p,
.con-footer .footer-B {
  color: rgb(136, 135, 135);
}

.con-footer .footer-content .socials {
  width: 160px;
}

.con-footer .footer-content .socials li:hover {
  transform: translateY(-10px);
}

.con-footer .footer-B {
  margin: 30px 0 40px 0;
  border-top: 3px solid rgb(226, 226, 226);
  padding-top: 30px;
}

.con-footer .footer-B ul {
  width: 260px;
}

/* 404 - Error */
.con-error {
  background: var(--primary-color);
  height: 100vh;
}

.con-error .img{
  width: 300px;
  margin: 40px 0 20px 0;
}

.con-error img {
  border-radius: 20px;
}

.con-error .header h1 {
  color: rgb(97, 4, 126);
  letter-spacing: 4px;
}

.con-error .header h2 {
  text-align: center;
}

.con-error .header .btn {
  margin: 14px 0;
}