/* Media Queries Rules */

/* Tablets and Under */
@media (max-device-width: 800px) {
  /* Utility */
  .grid {
    grid-template-columns: 1fr;
  }

  .con-section {
    padding: 40px 0;
  }

 .sections-07 {
    width: 86%;
  }

  /*Remove Navbar List Items */
  .con-navbar .navbar .right-side{
    display: none;
  }

  .con-navbar .navbar {
    padding: 30px 0 20px 0;
  }

  /* Navbar Toggle Button */
  .con-navbar .con-toggle {
    display: inline-block;
    padding: 2px;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .con-navbar .con-toggle .toggle {
    width: 30px;
    height: 30px;
    background: url("../images/menu.png");
    filter: brightness(0.3);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
  }

  .con-navbar .con-toggle .toggle.active {
    background: url("../images/close.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
  }

  /* Slide Menu */
  .con-menu.active {
    display: block;
  }

  .con-menu .menu {
    width: 50%;
    height: 100vh;
    padding: 60px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background: #f2f2f2;
    opacity: 0.9;
    border-right: 1px solid rgb(206, 206, 206);
    animation: roll-in 0.5s;
  }

  .con-menu .menu ul {
    padding: 0 20px;
  }

  .con-menu .menu li {
    padding: 10px;
    border-bottom: 1px solid #888;
    text-transform: capitalize;
    color: rgb(78, 78, 78);
    font-size: 1.2rem;
  }

  .con-menu .menu li.last-child {
    border-bottom: 0;
  }

  .con-menu .menu li:hover {
    background: rgb(126, 49, 226);
    color: #fff;
    border-radius: 0.25rem;
  }

  /* Section A */  
  .con-section-a .section-a .header h1 {
    width: 98%;
    font-size: 1.4rem;
    text-align: center;
  }

  .con-section-a .section-a .header p.margin-02 {
    width: 92%;
  }

  .con-img-background {
    margin: 100px 0 54px 0;
    height: 100px;
  }

  .con-img-background .img-background::before {
    top: -30px;
    height: 100px;
  }

  .con-img-background .img-background::after {
    bottom: -40px;
    height: 100px;
  }

  .con-img-background .img-background img {
    top: -94px;
  }

  /* Countdowns */
  .con-show-overlay {
    margin: 20px 0;
  }

  .show-overlay {
    height: 600px;
  }

  .show-overlay .overlay-img {
    padding-top: 100px;
  }

  .show-overlay .overlay-content {
    top: 0;
  }

  .show-overlay .con-right-side, .show-overlay .con-left-side, .show-overlay .con-bottom-side {
    position: unset;
  } 

  .show-overlay .con-left-side {
    padding: 16px 0;
    width: 100%;
  }

  .show-overlay .con-right-side .right-side,
  .con-show-overlay .con-left-side .left-side {
    margin: 0 auto;
    text-align: left;
  }
  
  .show-overlay .con-bottom-side {
    width: 100%;
    text-align: center;
  }

  .show-overlay .con-bottom-side .top {
    padding-top: 18px;
  }

  .show-overlay .con-bottom-side .bottom {
    width: 100%;
  }
  
  /* Subscribe */
  .con-subscribe {
    padding: 40px 0;
  }
  
  .con-subscribe .header h1{
    font-size: 1.3rem;
  }

  .con-subscribe form {
    width: 100%;
  }
  
  .con-subscribe form .form-elements {
    width: 94%;
    flex-direction: column;
    align-items: flex-start;
  }

  .con-subscribe form .form-elements button {
    margin: 16px 0;
  }

  .con-subscribe form .server-msg.error-msg,
  .con-subscribe form .server-msg.success-msg  {
    width: 100%;
  }

  /* Footer */
  .con-footer .footer-content:nth-child(2) {
    margin: 0;
  }

  .con-footer .footer-content .header {
    padding: 30px 0 10px 0;
  }

  .con-footer .footer-B {
    flex-direction: column-reverse;
    padding-top: 10px;
  }

  .con-footer .footer-B ul {
    padding: 16px 0;
  }

  /* 404 - Error */
  .con-error .img{
    width: 94%;
  }
}