<div class="box-body text-center" *ngIf="process">
  <h3>{{process}}</h3>
</div>
<div class="box" *ngIf="!showAll && activities">
  <div class="box-header">
    <h3>Your activities</h3>
    <a class="box-tools" *ngIf="isSuperAdmin()" routerLink="/dashboard/activity/all">
      <span class="btn btn-info pull-right">&nbsp;&nbsp;View All&nbsp;&nbsp;</span>
    </a>
  </div>
  <div class="box-body table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let activity of activities | mostRecentFirst">
          <td>You {{activity.activityText}}</td>
          <td><span class="label label-primary">{{activity.activityDate | date:'medium'}}</span></td>
        </tr>
        <tr *ngIf="!activities.length">
          <td>You have no activities yet...</td>
        </tr>
        <tr *ngIf="showMore">
          <td (click)="doShowMore()"><a>See More</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>