.con-footer
  .footer-top.contain-01
    .grid
      .footer-content
        .header
          .brand.d-flex.align-items-center
            h2 the starhub
            .img
              img(src="/images/starhub-logo.png", alt="The StarHub")
        .content
          p We are commited to ensuring digital accessibility

      .footer-content
        h1.header support
        ul.content
          li 
            a(href="/") Givings
          li 
            a(href="/") Accessories
          li 
            a(href="/") Support

      .footer-content
        h1.header service
        ul.content
          li 
            a(href="/") Join a workforce
          li 
            a(href="/") Register for service
          li 
            a(href="/") Join a clan

      .footer-content
        h1.header about
        ul.content
          li 
            a(href="/") About Us
          li 
            a(href="/") Announcements
          li 
            a(href="/") Contact

      .footer-content.location
        h1.header our address
        p 2 Ziatech Road, Oregun, Lagos
        ul.content.d-flex.align-items-center
          li.me-4 
            a(href="/")
              i.fa-brands.fa-facebook-f
          li.me-4
            a(href="/")
              i.fa-brands.fa-instagram
          li.me-4 
            a(href="/")
              i.fa-brands.fa-twitter
          li.me-4
            a(href="/")
              i.fa-brands.fa-youtube


  .footer-bottom.contain-01.d-flex.align-items-lg-center.justify-content-lg-between.flex-column-reverse.flex-lg-row
    .left.pt-3.pt-lg-0
      p &copy; 
        span#yearstamp 0000
        |&nbsp;The StarHub. &nbsp; All rights reserved
    .right
      ul.d-flex.align-items-center.justify-content-between.justify-content-lg-center
        a(href="/")
          li Services
        a(href="/")
          li Givings
        a(href="/")
          li Feedbacks
