a(href="/home")
  li home
a(href="/about")
  li about us
a(href="/home")
  li connect
a(href="/home")
  li serve and support
a(href="/home")
  li clan
a(href="/home")
  li gallery
a(href="/home")
  li.last-child givings
