.con-navbar
  .navbar.contain-01
    a(href="/home")
      .brand.d-flex.justify-content-center.align-items-center
        h2 the starhub
        .img
          img(src="/images/starhub-logo.png", alt="The StarHub")

    ul.d-none.d-lg-flex.justify-content-center.align-items-center
      include nav-items

    .menu.d-lg-none
      i.fa-solid.fa-bars#first-menu.active
      i.fa-solid.fa-bars#second-menu
