.con-sub 
  .sub.contain-02  
    .col-12.col-lg-6
      .header 
        h1 Subscribe for our 
          br
          | Weekly Newsletters

      .forms
        .msg 
          p#msgEl

        form(action="", method="post").d-lg-flex.align-items-center.justify-content.center

          input(type="email" spellcheck="false"  autocomplete="off" placeholder="Email Address")#entry
          button(type="submit")#cta.my-3.my-lg-0.ms-lg-3 Subscribe
            img(src="/images/btn-arrow.png") 