extends layouts/layout

block head 
  link(rel='stylesheet', href='/stylesheets/clan/style.css')

block content

  //- Section A
  .section-a
    #padbtm
      .contain-02.text-center.d-flex.flex-column.align-items-center.jusify-content-center 
        h1#text-01 Clan
        p#text-01 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae soluta aliquid autem expedita repellendus ad dolore tempore harum quod.