extends layouts/layout

block head 
  link(rel='stylesheet', href='/stylesheets/clan.style.css')

block content

  //- Section A
  .con-section-a
    .section-a
      .header.flex.flx-dir
        h1 Clan
        p.margin-02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, asperiores ut adipisci doloribus, nisi, laborum voluptatibus placeat labore doloremque possimus.