extends layouts/layout

block head 
  link(rel='stylesheet', href='/stylesheets/connectpage/style.css')

block content

  //- Section A
  .section-a
    #padbtm
      .contain-02.text-center.d-flex.flex-column.align-items-center.jusify-content-center 
        h1#text-01 Connect With Us
        p#text-01 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae soluta aliquid autem expedita repellendus ad dolore tempore harum quod.



  //- Section B
  .section-b
    .contain-02.d-lg-flex.align-items-center.justify-content-center.pb-5.pb-lg-0
      .col-lg-6
          .img.d-flex.align-items-center.justify-content-center
            img(src="images/welcome to starhub 1.png", alt="")

      .col-lg-6.py-3.py-lg-0
        .con-form
          form(action="" method="POST")
            .form-element#double
              input(type="text" name="name" placeholder="Name")
              input(type="text" name="email" placeholder="Email Address")

            .form-element#double
              input(type="text" name="subject" placeholder="Subject")
              input(type="text" name="reason" placeholder="Reason")

            .form-element
              input(type="text" name="description" placeholder="Description")#descrip

            .form-element 
              button(type="submit")#cta Submit
                img(src="images/btn-arrow.png")
      


  //- Section C
  .section-c
    .contain-02.d-lg-flex.align-items-center.justify-content-center.pb-5.pb-lg-0
      .col-lg-6.py-3.py-lg-0
        h1#text-01 Connect us Sharply
        ul 
          li 
            i.fa-solid.fa-location-dot
            h1 2 Ziatech Road, Oregun, Ikeja, Lagos
          li 
            i.fa-solid.fa-envelope 
            h1 info@thestarhub.org
          li 
            i.fa-solid.fa-phone
            h1 08000000000

      .col-lg-6
        .img.d-flex.align-items-center.justify-content-center
          img(src="images/map 1.png", alt="")