extends layouts/layout

block head 
  link(rel='stylesheet' href='/stylesheets/homepage/index.css')
  link(rel='stylesheet' href='/stylesheets/homepage/style.css')
  link(rel='stylesheet' href='/stylesheets/homepage/circle.css')
  link(rel='stylesheet' href='/stylesheets/homepage/pulse.css')
  link(rel='stylesheet' href='/stylesheets/homepage/events.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")


block content 
  include index


block script
  script(src="/javascripts/countdown.js")
  script(src="/javascripts/events.js")

