extends layouts/layout

block content

  //- Section A
  .con-section-a
    .section-a
      .header.flex.flx-dir
        h1 Register for service Here
        p.margin-02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, asperiores ut adipisci doloribus, nisi, laborum voluptatibus placeat labore doloremque possimus.
        a(href="/") 
          .btn.flex 
            p Join Us
            .img
              img(src="images/btn-arrow.png")
  
    .con-img-background 
      .img-background
        img(src="images/intro-image-Recovered.gif", alt="")

  //- Section B
  .con-section#explore
    .section-b.grid.grid-02.sections-07
      .con-img.flex
        img(src="images/welcome to starhub 1.png", alt="")
      .header.flex.flx-dir.flx-strt
        h1 Welcome Home!
        p.margin-02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores a ullam beatae voluptatem praesentium accusantium aliquam dolores perferendis dolorum exercitationem obcaecati aut maxime consequuntur nobis quas ipsa, quis repellendus.
        a(href="/") 
          .btn.flex 
            p Join Us
            .img
              img(src="images/btn-arrow.png")
  
  //- Countdowns
  .con-show-overlay
    .show-overlay.sections-07
      .overlay-img
        img(src="images/register-background.png", alt="")
      .overlay-content
        .header
          h1 Register for Service
        .countdown.flex
          h1 0 : 0 : 0 : 0
        .con-right-side 
          .right-side
            h3 Location 
            p 2 Ziatech Road, Oregun, Lagos
        .con-left-side
          .left-side
            h3 Time
            p 9:00 AM & 11:AM
        .con-bottom-side 
          .bottom-side
            .top 
              h2 or 
            .bottom 
              .content
                a(href="/").flex.flx-dir 
                  .animate.flex
                    i.fas.fa-play
                  .label
                    h3 Watch Online

  //- Section B
  .con-section
    .section-b.grid.grid-02.sections-07
      .header.flex.flx-dir.flx-strt
        h1 We the Clan
        p.margin-02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores a ullam beatae voluptatem praesentium accusantium aliquam dolores perferendis dolorum exercitationem obcaecati aut maxime consequuntur nobis quas ipsa, quis repellendus.
        a(href="/") 
          .btn.flex 
            p Find a Clan
            .img
              img(src="images/btn-arrow.png")
      .con-img.flex
        img(src="images/clan 1.png", alt="")

  //- Section C
  .con-section
    .section-c.grid.grid-02.sections-07
      .con-img.flex
        img(src="images/workforwe 2.png", alt="")
      .header.flex.flx-dir.flx-strt
        h1 Join the Workforce
        p.margin-02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores a ullam beatae voluptatem praesentium accusantium aliquam dolores perferendis dolorum exercitationem obcaecati aut maxime consequuntur nobis quas ipsa, quis repellendus.
        a(href="/") 
          .btn.flex 
            p Know more
            .img
              img(src="images/btn-arrow.png")

  //- Section D
  .con-section
    .section-d.grid.grid-02.sections-07
      .header.flex.flx-dir.flx-strt
        h1 We all Joyful People
        p.margin-02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores a ullam beatae voluptatem praesentium accusantium aliquam dolores perferendis dolorum exercitationem obcaecati aut maxime consequuntur nobis quas ipsa, quis repellendus.
        a(href="/") 
          .btn.flex 
            p Go to Gallery
            .img
              img(src="images/btn-arrow.png")
      .con-img.flex
        img(src="images/gallery 1.png", alt="")
