.con-section 

  //- Section A
  .section-a
    .contain-02.text-center.d-flex.flex-column.align-items-center.jusify-content-center 
      h1#text-01 Register for Service Here
      p#text-01 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae soluta aliquid autem expedita repellendus ad dolore tempore harum quod.
      a(href="/home")  
        button(type="submit")#cta Join Us
          img(src="/images/btn-arrow.png")
      
    .con-overlay
      .overlay
        .img
          img(src="/images/intro-image-Recovered.gif" alt="The Starhub")



  //- Section B
  .section-b
    .contain-02.d-lg-flex.align-items-center.justify-content-center.pb-5.pb-lg-0
      .col-lg-6
        .img.d-flex.align-items-center.justify-content-center
          img(src="images/welcome to starhub 1.png", alt="Welcome to the StarHub")
        
      .col-lg-6.py-3.py-lg-0
        h1#text-01 Welcome to the Starhub
        p#text-01 Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae modi fugiat animi laudantium? Autem tenetur harum magni nulla quas aliquid deleniti.
        .btns.d-flex 
          a(href="/home").me-3  
            button(type="submit")#cta Join Us
              img(src="/images/btn-arrow.png")
          a(href="/home")  
            button(type="submit")#cta About Us
              img(src="/images/btn-arrow.png")
  


  //- Section C
  .section-c
    .section.row.position-relative
      .bg-img
        img(src='images/register-background.png' alt='')
      .con-items.my-5
        .header.text-center
          h1 Register for Service
        .con-circle
          #circle
            #dot
          .countdown
            .content
              p#timestamp 0:0:0:0
              a(href="/home")
                h3 Register Now
        .con-right
          .right-side
            h3#reduce-01 Location
            p#reduce-02 2 Ziatech Road, Oregun, Lagos
        .con-left
          .left-side
            h3#reduce-01 Time
            p#reduce-02 9:00 AM &amp; 11:AM
        .con-bottom
          .bottom-side
            .top
              h2#reduce-03 or
            .bottom
              .content
                a.d-flex.flex-column.justify-content-center.align-items-center(href="/home")
                  .con-pulse
                    .pulse
                      .bg
                      .inner
                        i.fas.fa-play
                  .label
                    h3#reduce-02 Watch Online
    


  //- Section D
  .section-d
    .contain-02.d-lg-flex.align-items-center.justify-content-center.pb-5.pb-lg-0
      .col-lg-6.py-3.py-lg-0
        h1#text-01 We the Clan
        p#text-01 Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae modi fugiat animi laudantium? Autem tenetur harum magni nulla quas aliquid deleniti.
        .btns.d-flex 
          a(href="/home").me-3  
            button(type="submit")#cta Join Us
              img(src="/images/btn-arrow.png")

      .col-lg-6
        .img.d-flex.align-items-center.justify-content-center
          img(src="images/clan 1.png", alt="The Clan")
  

  
  //- Section E
  .section-e
    .contain-02.d-lg-flex.align-items-center.justify-content-center.pb-5.pb-lg-0
      .col-lg-6
        .img.d-flex.align-items-center.justify-content-center
          img(src="images/workforwe 2.png", alt="Joining the Workforce")

      .col-lg-6.py-3.py-lg-0.ps-lg-4
        h1#text-01 Join the Workforce
        p#text-01 Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae modi fugiat animi laudantium? Autem tenetur harum magni nulla quas aliquid deleniti.
        .btns.d-flex 
          a(href="/home").me-3  
            button(type="submit")#cta Know More
              img(src="/images/btn-arrow.png")



  //- Section F
  .section-f
    .container
      //-  Header
      .main-header.pb-4
        h1.text-center#text-01
          | Upcoming Events
      .row
        //-  First Section
        .col-12.col-lg-6
          .d-flex.justify-content-start.mt-3
            .con-dots.me-3.me-lg-5
            .con-contents
              .content
                h3#header Ace Diaries
                p#text-01
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente omnis molestias
                  | minima nesciunt autem adipisci vel inventore odio, hic ad quos nam commodi ipsum ab ipsa ut enim sunt
                  | repellat!
              .content
                h3#header Unbound
                p#text-01
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente omnis molestias
                  | minima nesciunt autem adipisci vel inventore odio, hic ad quos nam commodi ipsum ab ipsa ut enim sunt
                  | repellat!
              .content
                h3#header Easter
                p#text-01
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente omnis molestias
                  | minima nesciunt autem adipisci vel inventore odio, hic ad quos nam commodi ipsum ab ipsa ut enim sunt
                  | repellat!
              .content
                h3#header Carol Service
                p#text-01
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente omnis molestias
                  | minima nesciunt autem adipisci vel inventore odio, hic ad quos nam commodi ipsum ab ipsa ut enim sunt
                  | repellat!
              .con-arrow.my-4.justify-content-between
                i#left.fas.fa-arrow-left
                i#right.fas.fa-arrow-right

        //-  Second Section
        .col-12.col-lg-6
          .con-slider.mt-4.mt-lg-0
            .d-flex.justify-content-center.justify-content-lg-end
              .carousel.d-flex
                #img-slider.img-slider.d-flex
                  img(src='/images/Rectangle 12.png' alt='')
                  img(src='/images/clan 1.png' alt='')
                  img(src='/images/starhub-logo.png' alt='')
                  img(src='/images/map 1.png' alt='')
            #text-slider.text-slider.d-flex.align-items-center.mt-3.mt-lg-0
              .con-text
                .texts.d-flex.align-items-center
                  p#text Ace Diaries
                  p#text Unbound
                  p#text Easter
                  p#text Carol Service




  //- Section G
  .section-g
    .contain-02.d-lg-flex.align-items-center.justify-content-center.pb-5.pb-lg-0
      .col-lg-6.py-3.py-lg-0
        h1#text-01 We all Joyful People
        p#text-01 Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae modi fugiat animi laudantium? Autem tenetur harum magni nulla quas aliquid deleniti.
        .btns.d-flex 
          a(href="/home").me-3  
            button(type="submit")#cta Go to Gallery
              img(src="/images/btn-arrow.png")

      .col-lg-6
        .img.d-flex.align-items-center.justify-content-center
          img(src="images/gallery 1.png", alt="We the People")  


