extends layouts/layout

block head 
  link(rel='stylesheet', href='/stylesheets/serve&support.style.css')

block content

  //- Section A
  .con-section-a
    .section-a
      .header.flex.flx-dir
        h1 Serve and Support
        p.margin-02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, asperiores ut adipisci doloribus, nisi, laborum voluptatibus placeat labore doloremque possimus.

  //- Section B
  .con-section.first
    .section-b.grid.grid-02.sections-07
      .con-img.flex
        img(src="images/flyer 1.png", alt="")
      .header.flex.flx-dir.flx-strt
        h1 Invite a Friend
        p.margin-02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores a ullam beatae voluptatem praesentium accusantium aliquam dolores perferendis dolorum exercitationem obcaecati aut maxime consequuntur nobis quas ipsa, quis repellendus.
        a(href="/") 
          .btn.flex 
            p Read More
            .img
              img(src="images/btn-arrow.png")

  //- Section C
  .con-section
    .section-c.grid.grid-02.sections-07
      .header.flex.flx-dir.flx-strt
        h1 Join a Team
        p.margin-02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores a ullam beatae voluptatem praesentium accusantium aliquam dolores perferendis dolorum exercitationem obcaecati aut maxime consequuntur nobis quas ipsa, quis repellendus.
        a(href="/") 
          .btn.flex 
            p Read More
            .img
              img(src="images/btn-arrow.png")
      .con-img.flex
        img(src="images/tv 1.png", alt="")

  //- Section D
  .con-section
    .section-d.grid.grid-02.sections-07
      .con-img.flex
        img(src="images/flyer 1.png", alt="")
      .header.flex.flx-dir.flx-strt
        h1 Hearty Givings
        p.margin-02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores a ullam beatae voluptatem praesentium accusantium aliquam dolores perferendis dolorum exercitationem obcaecati aut maxime consequuntur nobis quas ipsa, quis repellendus.
        a(href="/") 
          .btn.flex 
            p Read More
            .img
              img(src="images/btn-arrow.png")