<button routerLink="/dashboard/accounts" class="btn btn-default margin-buttom"><i
    class="fas fa-chevron-left"></i>&nbsp;&nbsp;All Users</button>
<div class="msg error-msg" *ngIf="message">{{message}}</div>
<div class="text-center" *ngIf="process"><h3>{{process}}</h3></div>
<div class="box box-primary" *ngIf="content">
  <div class="box-body box-profile">
    <div class="profile-user-img img-responsive user-icon flex">
      <i class="fas fa-user fa-5x"></i>
    </div>
    <h3 class="profile-username text-center">{{content.name | titlecase}}</h3>
    <p class="text-muted text-center">{{content.role | titlecase}}</p>
    <ul class="list-group list-group-unbordered">
      <li class="list-group-item">
        <b> Email</b> <a class="pull-right">{{content.email}}</a>
      </li>
      <li class="list-group-item">
        <b>Created On</b> <a class="pull-right">{{content.dateRegistered | date:'medium'}}</a>
      </li>
    </ul>
    <div class="flex flx-spc-btw">
      <a routerLink="/dashboard/accounts/{{content._id}}/update" class="btn btn-primary">Update Account</a>
      <a class="btn btn-danger pull-right" (click)="deleteCurrentUser()">Delete Account</a>
    </div>
  </div>
</div>