<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- search form (Optional) -->
    <!-- <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
      </div>
    </form> -->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">ACTIONS</li>
      <!-- Optionally, you can add icons to the links -->
      <li routerLinkActive='active'><a routerLink="/dashboard/home" routerLinkActive='active'><i class="fa fa-link"></i>
          <span>Home</span></a></li>
      <li class="treeview" *ngIf='isSuperAdmin()'>
        <a><i class="fa fa-link"></i> <span>User Management</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a>All Users</a></li>
          <li><a>Create New User</a></li>
        </ul>
      </li>
      <li routerLinkActive='active'><a routerLink="/dashboard/subscribers"><i class="fa fa-link"></i> <span>Email
            Subscribers</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>