<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">ACTIONS</li>
      <li routerLinkActive='active'>
        <a routerLink="/dashboard/overview" routerLinkActive='active'>
          <i class="fa fa-link"></i>
          <span>Overview</span>
        </a>
      </li>

      <li routerLinkActive='active' *ngIf="isSuperAdmin()">
        <a routerLink="/dashboard/accounts">
          <i class="fa fa-link"></i>
          <span>Accounts</span>
        </a>
      </li>

      <li routerLinkActive='active' *ngIf="isSuperAdminOrAdmin()">
        <a routerLink="/dashboard/newsletter">
          <i class="fa fa-link"></i>
          <span>Newsletter</span>
        </a>
      </li>

      <li routerLinkActive='active'>
        <a>
          <i class="fa fa-link"></i>
          <span>Blog</span>
        </a>
      </li>

      <li class="treeview">
        <a><i class="fa fa-link"></i> <span>Media</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a>Photos</a></li>
          <li><a>Videos</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>